<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <integrai_core>
      <general>
        <enable>1</enable>
      </general>
    </integrai_core>

    <carriers>
      <integrai_shipping>
        <active>1</active>
        <model>Integrai\Core\Model\Carrier</model>
        <title>Serviços de Entrega</title>
        <sallowspecific>0</sallowspecific>
        <showmethod>1</showmethod>
        <sort_order>0</sort_order>
        <max_package_weight>300</max_package_weight>
      </integrai_shipping>
    </carriers>

    <payment>
      <integrai_pix>
        <active>1</active>
        <model>Integrai\Core\Model\Payment\Pix</model>
        <title>Pix</title>
        <order_status>pending_payment</order_status>
      </integrai_pix>
      <integrai_boleto>
        <active>1</active>
        <model>Integrai\Core\Model\Payment\Boleto</model>
        <title>Boleto</title>
        <order_status>pending_payment</order_status>
      </integrai_boleto>
      <integrai_creditcard>
        <active>1</active>
        <model>Integrai\Core\Model\Payment\CreditCard</model>
        <title>Cartão de Crédito</title>
        <order_status>pending_payment</order_status>
      </integrai_creditcard>
      <integrai_marketplace>
        <active>1</active>
        <model>Integrai\Core\Model\Payment\MarketPlace</model>
        <title>Marketplace</title>
        <order_status>pending_payment</order_status>
      </integrai_marketplace>
    </payment>
  </default>
</config>