<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <integrai_core>
      <general>
        <enable>1</enable>
      </general>
    </integrai_core>

    <carriers>
      <integrai_shipping>
        <active>1</active>
        <model>Integrai\Core\Model\Carrier</model>
        <name>Serviços de Entrega</name>
        <title>Serviços de Entrega</title>
        <sallowspecific>0</sallowspecific>
        <showmethod>1</showmethod>
        <sort_order>0</sort_order>
        <max_package_weight>300</max_package_weight>
      </integrai_shipping>
    </carriers>
  </default>
</config>